.dark-theme {
    --bg-color: #0F0F0F;
    --title-color: #A9A9A9;
    --card-contents-color: #0F0F0F;
    --card-background-color: #A9A9A9;
    --card-hover-background-color: #1D1D1D;
    --card-hover-contents-color: #DCDCDC;
    --highlight-color: #000000;
    --highlight-background-color: #FFFFFF;
}

.purple-theme {
    --bg-color: #B8BDFF;
    --title-color: #454760;
    --card-contents-color: #EEEFFF;
    --card-background-color: #5C5F80;
    --card-hover-background-color: #2E2F40;
    --card-hover-contents-color: #F9FAFF;
    --highlight-color: #454760;
    --highlight-background-color: #F9FAFF;
}

.mint-theme {
    --bg-color: #AAF8BD;
    --title-color: #2B3E2F;
    --card-contents-color: #D4FBDE;
    --card-background-color: #557C5F;
    --card-hover-background-color: #405D47;
    --card-hover-contents-color: #DFFCE6;
    --highlight-color: #2B3E2F;
    --highlight-background-color: #F4FEF7;
}

.pink-theme {
    --bg-color: #FFBDC2;
    --title-color: #402729;
    --card-contents-color: #FFFFFF;
    --card-background-color: #9F6266;
    --card-hover-background-color: #402729;
    --card-hover-contents-color: #FFE9EA;
    --highlight-color: #FFFFFF;
    --highlight-background-color: #804E52;
}

::selection {
    color: var(--highlight-color);
    background: var(--highlight-background-color);
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #AAF8BD;
    background-color: var(--bg-color);
    color: #D4FBDE;
    color: var(--card-contents-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    direction: ltr;
}

.container {
    max-width: 680px;
    margin:0 auto;
}

main {
    padding:24x 28px
}

h1 {
    margin-top: 24px;
    margin-bottom: 0px;
    /*color: white;*/
    color: #2B3E2F;
    color: var(--title-color);
    font-size: 64px;
    font-weight: 500;
    line-height: 1.2;
}

.statement {
    color: #2B3E2F;
    color: var(--title-color);
    font-size: 24px;
    font-weight: 300;
}

.introduction {
    margin-top: 24;
    line-height; 30px;
    /*background: #5691A3;*/
    background: #557C5F;
    background: var(--card-background-color);
    border-radius: 8px;
    padding: 24px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 18px;
    margin-top: 20px;
}

.card {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #557C5F;
    background: var(--card-background-color);
    border-radius: 8px;
}

.card:hover {
    background: #405D47;
    background: var(--card-hover-background-color);
}

.card:hover svg {
    fill: #DFFCE6;
    fill: var(--card-hover-contents-color);
}

.card svg {
    fill: #D4FBDE;
    fill: var(--card-contents-color);
    width: 64px;
}

a.link {
    text-decoration: none;
}
